@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: theme('colors.background');
    color: theme('colors.bodyText');
    font-family: theme('fontFamily.sans');
  }
  body {
    margin: 0;
  }
  h1,
  h2,
  h3 {
    color: theme('colors.titleText');
    font-family: theme('fontFamily.serif');
  }
}
